/* Base styles */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #141414;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.logo {
    font-size: 2rem;
    font-family: sans-serif;
    text-decoration: solid;
    text-decoration-color: rgb(56, 147, 153);
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Main */
main {
    padding: 2rem;
}

.hero {
    text-align: center;
    margin-bottom: 2rem;
}

.hero-title {
    font-size: 2rem;
    font-weight: bold;
}

.hero-description {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.hero-button {
